html{
  height: 100%;
}
#content{
  text-align: center;
  padding-top: 25%;
  text-shadow: 0 4px 3px rgba(0,0,0,0.4),
               0 8px 13px rgba(0,0,0,0.1),
               0 18px 23px rgba(0,0,0,0.1);
}
nav{
  background-color: ivory;
}
body{
  background: url("cat1.jpg");
  background-size: cover;
  font-family: Lato sans-serif;
}
h1{
  color: white;
  font-weight: 700;
  font-size: 74px;
}
h3{
  color: white;
}
#signup{
  float: right;
}
#hr{
  background-color: white;
  width: 50%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-light .navbar-brand {
  color: rgba(0,0,0,0.5);
}


